{% include "header.html"%}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"> <h1 style="text-align: center; color: red; " > About  </h1>
               <br>
               <p>We decided to create the first file conversion website with user experience in mind. Today Convertio is ranked among the most visited sites in the world and almost every competitor has already borrowed something from our interface.</p>
            </div>
        </div>
     </div>
     <div class="contianer">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <ul>
                    <li>We convert more than 1,000,000 files daily</li>
                    <li>Over 1 PB of data converted monthly</li>
                    <li>More than 1 million people use our service every month</li>
                    <li>We support different conversions between different file formats</li>
                </ul>
            </div>
        </div>
     </div>
     

     <div class="container mt-5 ">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h3>Contact US</h3>
               <a href=""> <p>Email:tj9767803@gamil.com</p></a>
               <a href=""> Whatsapp : 032-3541765-7  </a>
            </div>
        </div>
     </div>
     {% include "footer.html"%}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>