{% load static %} 
<div class="container-fluid bg-black " id="ftr" >
    <div class="row">
      <div class="col-lg-4"><p style="margin-left:38px ; margin-top:28px ; font-size:20px ; " >Converted files</p> <p style="margin-left:85px ; margin-top:16px ; font-size:30px ; "  >2&nbsp;,&nbsp;0&nbsp;6&nbsp;4&nbsp;,&nbsp;7&nbsp;8&nbsp;8&nbsp;,&nbsp;9&nbsp;7 <sup style="font-size:20px ;" >/38,754 TB</sup>  </p> </div>
      <div class="col-1 m-5 ">
        <ul>
          <ol  > <a href="/about" style="text-decoration: none; color: gray; font-size: 16px;  " >About</a> </ol>
          <ol style="margin-top: 15px;" > <a href="/sec" style="text-decoration: none; color: gray; font-size: 16px;" >Security</a> </ol>
          <ol style="margin-top: 15px;" > <a href="/bl" style="text-decoration: none; color: gray; font-size: 16px;" >Blogs</a> </ol>
          </ul>
      </div>
      <div class="col-3 m-5 ">
        <ul>
          <ol  > <a href="/Mp" style="text-decoration: none; color: gray; font-size: 18px;  " >Video Converter</a> </ol>
          <ol style="margin-top: 15px;" > <a href="/img" style="text-decoration: none; color: gray; font-size: 16px;" >Image Converter</a> </ol>
         
          <ol style="margin-top: 15px;" > <a href="/bl" style="text-decoration: none; color: gray; font-size: 16px;" >Blogs</a> </ol>
          
          </ul>
      </div>
      
      <hr>
      <p>© 2014–2023 Convertio. All rights reserved &nbsp; /&nbsp;&nbsp;<a href="" style="color: grey; text-decoration: none; font-size:14px ; " >Terms of use</a>&nbsp; /&nbsp;&nbsp; <a href="/sec" style="color: grey; text-decoration: none; font-size:14px ; " >Privacy Policy</a>   </p>
    </div>
  
    </div>
 